body{
    background-color: rgb(44, 40, 40);
    color: aliceblue;
}

h1 {
    text-align: center;
    color: rgb(114, 6, 6);
}

h3 {
    text-align: center;
    color: #ffff;
    background-color: rgba(114, 6, 6, 0.555);
}
.container-1 {
    width: 75%;
    margin: 0 auto;
    border: 2px solid brown;
}

.flex-box-container-1 {
    border: 1px solid rgb(114, 6, 6);
    display: flex;
    padding: 10px;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: space-around;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px solid rgb(114, 6, 6);
    align-items: center;
}
